@charset "UTF-8";
@font-face{
font-family: din_light;
src: url(../font/SOFIA/SofiaProLight.otf);
}
@font-face{
font-family: din_bold;
src: url(../font/SOFIA/SofiaProBold.otf);
}
@font-face{
font-family: din_reg;
src: url(../font/SOFIA/SofiaProRegular.otf);
}
@font-face{
font-family: bigjohn;
src: url(../font/BIGJOHN.otf);
}
@font-face{
font-family: slimjoe;
src: url(../font/SlimJoe.otf);
}
