@import url(https://fonts.googleapis.com/css?family=Roboto:300);


.login-page {
  max-width: 500px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF !important;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
#login {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #0866c6;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #004d99;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  -webkit-box-shadow: inset 0 -2px #004d99;
  box-shadow: inset 0 -2px #004d99;
  cursor: pointer;
}
#login:hover,
#login:focus{
	background-color:#0073e6;
}
#login:active {
  border-top: 1px solid white;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}