@charset "UTF-8";
@import url(fonts.css);

    @media screen{
        .prints{
            width: 150px; height:20px;
            margin-left: 80%;
            float: right; /*background-color: #0000FF;*/
        }
        .report_print_btn {
            /* background-color: #009900;*/margin-left: 10px;
          float: right;
            width: 20px;
            height: 20px;
            background-image: url(../images/sysimg/reportmenu/printicon.png);
        }

        .report_print_btn:hover {
            background-image: url(../images/sysimg/reportmenu/printicon1.png);
        }
        .backtomenu{
            float: left;
            width: 65px; height: 20px;
            background-image: url(../images/sysimg/reportmenu/goback.png);
            /*background-color: #E13300;*/ cursor: pointer;
        }

        .backtomenu:hover{

            background-image: url(../images/sysimg/reportmenu/goback1.png);

        }

        #datatable{
            margin-top: 30px;
            font-family: din_bold;
            text-align: center;
        }


        .test{
            text-align: center; font-family: din_reg;
            -ms-text-size-adjust: 10px; font-size: 12px;
        }

        .test_h{
            font-family: din_light; font-size: 12px;
            background-color: #003399;/*color: #FFF;*/
            margin-top: 20px;
        }

        th{
            margin-left: 10px;
        }

        tr.test:nth-child(even) {background:#f9f9f9}
        tr.test:nth-child(odd) {background:}
        tr.test:hover{background:#D0D0D0}


        #report_print_div{
            width: 100%; height: 100%;

        }

        .yay{
            width: 40px; height: 60px; background-image: url(../images/sysimg/reportmenu/goback1.png);

        }
    }


    @media print and (color) {
        * {
            -webkit-print-color-adjust: exact;
            print-color-adjust: exact;
        }
    }

    @page
    {
        size: auto;
        margin: 0mm;
        margin-top: 20px;
    }


    @media print{
    .title_daily_transaction_SA{
        width: 600px;
        height: 30px; color: #003399;
        font-size: 20px; font-family: din_bold;
    }
    .title_daily_transaction_S{
        width: 600px;
        height: 30px; color: #003399;
        margin-bottom:20px; font-size: 20px; font-family: din_bold;
    }

    .title_daily_transaction{
        width: 600px;
        height: 30px; color: #003399;
        margin-bottom:20px; font-size: 20px; font-family: din_bold;
    }



    .test{
        text-align: center; font-family: din_reg;
        -ms-text-size-adjust: 2px; font-size: 11px;
    }

    .test_h{
        font-family: din_light; font-size: 13px;
        background-color: #003399;color: #FFF;

    }

    th{
        margin-left: 10px;
    }

    /*tr.test:nth-child(even) {background:#f9f9f9}
    tr.test:nth-child(odd) {background:}*/
    tr.test:hover{background:#D0D0D0}


    .yay{
        width: 40px; height: 60px; background-image: url(../images/sysimg/reportmenu/goback1.png);

    }
}








/*-----------daily_transactions--*/




    .title_daily_transaction_SA{
    width: 600px;
    height: 30px; color: #003399;
    font-size: 20px; font-family: din_bold;
}
    .title_daily_transaction_S{
    width: 600px;
    height: 30px; color: #003399;
    margin-bottom:20px; font-size: 20px; font-family: din_bold;
}

    .title_daily_transaction{
        width: 600px;
        height: 30px; color: #003399;
        margin-bottom:20px; font-size: 20px; font-family: din_bold;
    }


/*---------pagination for daily_transactions/_by_S/_by_SA----*/

    .universal_pagination{
        width: 310px; height: 24px;
        margin: auto; margin-top: 20px;

    }

    .first_left{
        width: 25px; height: 22px;
        background-image: url(../images/sysimg/reportmenu/first_left_img.png);
        float:left;
    }

    .first_left:hover{
        background-image: url(../images/sysimg/reportmenu/first_left_img1.png);

    }

    .left{
        width: 22px; height: 22px;
        background-image: url(../images/sysimg/reportmenu/left.png);
        float:left; margin-left: 4px;
    }

    .left:hover{
        background-image: url(../images/sysimg/reportmenu/left1.png);

    }

    .pagination_num{
        width: 160px; height: 22px;
        background-color: #CCCCCC; font-family: din_bold; font-size: 14px; text-align: center;
        float:left;border-radius: 30px;
    }

    .right{
        width: 22px; height: 22px;
        background-image: url(../images/sysimg/reportmenu/right.png);
        float:left;
    }
    .right:hover{
        background-image: url(../images/sysimg/reportmenu/right1.png);
    }

    .end_right{
        width: 25px; height: 22px;
        background-image: url(../images/sysimg/reportmenu/endright1.png);
        float:left; margin-left: 4px;
    }

    .end_right:hover{
        background-image: url(../images/sysimg/reportmenu/endright.png);
    }