<div class="row">
		<div class = "col-lg-12">
			<center><div class="logo"></div></center>
		</div>
	</div>
<div class="container">
  <div class="jumbotron">
    <h1>Error</h1>
    <p>Oops! Something went wrong.</p>
    <p>You could try to <a href="javascript:history.back()">GO BACK</a> to the previous page. Or if this keeps happening please contact the system admin (CST).</p>
  </div>
</div>