<div class="modal-header">
    <h3 class="modal-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> ADD USER FORM</h3>
</div>		
<form role="form" ng-submit = "addUser();">			
<div class="modal-body" id="modalbody" >					
					

                        <div class="form-group">
                            <label class="control-label" for="inputSuccess">FIRST NAME:</label>
                            <input ng-model="firstf" name="firstf" type="text" class="form-control" required>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="inputWarning">LAST NAME:</label>
			             	<input ng-model="lastf" name="lastf" type="text" class="form-control" required>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label" for="inputWarning">USER NAME:</label>
				            <input ng-model="username" name="username" type="text" class="form-control" required>
                        </div>
                        
                        <div class="form-group">
                            <label>LEVEL:</label>
                            <select ng-init = "account_type = 3;" ng-model="account_type" name="account_type"  class="form-control" required>
						  		 <option ng-repeat="item in levels" ng-show="item.id >= userlevel" value="{{item.id}}" >{{item.name}}</option>
							</select>
                        </div>
                        
                   
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" type="button">ADD <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
    <button class="btn btn-default" type="button" ng-click="cancel()">CANCEL</button>
</div>
</form>