	<div class="modal-header">
        <h3 class="modal-title">COUNTER NUMBER</h3>
    </div>
	<div class="popupjumps">
	<div class="number">ENTER THE COUNTER NUMBER:</div>
		<input ng-model = "counternumber" name="skip" type="text" class="numbsf" id="skip">
	</div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="deactivate()">DEACTIVATE</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">CANCEL</button>
    </div>
