
    <div class="modal-header">
        <h3 class="modal-title"></h3>
    </div>
	<div class="popupar" >
	
	<div class="ar">ACKNOWLEDGEMENT RECEIPT NUMBER:</div>
	<form id="ipadinfo2">
		<input arf style="border:2px solid black !important; padding:5px !important;"name="arf" type="text" class="arf" id="arf" ng-model='ar'>
	</form>
	
	</div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-lg btn-block" type="button" ng-click="inputar();">OK</button>
        <button class="btn btn-default btn-lg btn-block" type="button" ng-click="cancel();">CANCEL</button>
    </div>
