<style>

	.app-modal-window .modal-dialog {
	  width: 400px;
	}
	.current {
		color:white !important;
		background-color:#004d99;
	}
	.client_status{
		margin: 6px 0px 4px 0px !important;
	}
	.red{
		color:red !important;
	}

	.panel-overlay {
	    /* set it to fill the whole panel */
	    top: 0; right: 0; bottom: 0; left: 0;
	    position: absolute;
	    background-color:#333;
	    opacity:0.5;
	    text-align:center;
		padding-top:30%;
	}


	/*for radio buttons*/
	input[type=radio], input[type=checkbox] {
		display:none;
	}

	input[type=radio] + label, input[type=checkbox] + label {
		display:inline-block;
		margin-top: 0px !important;
		margin:-2px;
		padding: 4px 12px;
		margin-bottom: 0;
		font-size: 14px;
		line-height: 20px;
		color: #333;
		text-align: center;
		text-shadow: 0 1px 1px rgba(255,255,255,0.75);
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		border: 1px solid #ccc;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
		border-bottom-color: #b3b3b3;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
		filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	}

	 input[type=radio]:checked + label, input[type=checkbox]:checked + label{
		background-image: none;
		outline: 0;
		-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
		background-color:#e0e0e0;
	}

</style>

<div ng-init = "initfront();">
				<ul class="breadcrumbs">
		            <li><a ><i class="iconfa-home"></i></a> <span class="separator"></span></li>
		            <li></li>
		        </ul>
		       <!--<div ng-show = "current_client != 'NONE' || jumpnumber != 0" class="row">
                    <div class="col-lg-12 ">
                    	<center>
                    		<h1 timer id = "timer" ng-class = "minutes >= 15 || hours > 0 ? 'red' : ''">{{ padHours }} : {{ padMinutes }} : {{ padSeconds }}</h1>
                    	</center>
                    </div>
                </div>-->
                <div id = "call_note" class="row" ng-show = "current_client != 'NONE' || jumpnumber != 0">
                	<div class="col-lg-12 ">
                    	<div class="alert alert-info alert-dismissable">
                         	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                          	<i class="fa fa-info-circle"></i> Please click <strong> CALL </strong> to start.
                    	</div>
                    </div>
                </div>
		        <div class="row">
                    <div class="col-lg-12 forpagehead">
				        <div class="pageheader">

					            	<!--<div class = "{{ call_prepared }}"></div>-->
					            		<div class="pagetitle">
											<h5 class="namelabel">NOW SERVING:</h5>
											<!--
												<textarea name = 'quename' class= 'servename' readonly ng-show = "current_client != 'NONE'" ng-repeat = "client in current_client track by $index" style = 'margin-top:14px !important;'>[ {{client.numberque}} ] {{client.salutation}} {{client.firstname}} {{client.lastname}}</textarea>
												<textarea name = 'quename' class= 'servename' readonly ng-show = "current_client == 'NONE' && jumpnumber != 0" ng-repeat = "skipped in current_skipped track by $index" style = 'margin-top:14px !important;'>[ {{skipped.numberque}} ] {{skipped.salutation}} {{skipped.firstname}} {{skipped.lastname}}</textarea>
												<textarea name = 'quename' class= 'servename' readonly ng-show = "current_client == 'NONE' && jumpnumber == 0" style = 'margin-top:14px !important;'>Please click NEXT to call new client</textarea>
											-->
											<clientname>
											<h1  class= 'servename' ng-show = "current_client != 'NONE' && !clickedNext" ng-repeat = "client in current_client track by $index"> #{{client.quecard}} </h1>
											<h1  class= 'servename' ng-show = "current_client == 'NONE' && jumpnumber != 0 && !clickedNext" ng-repeat = "skipped in current_skipped track by $index"> #{{skipped.quecard}} </h1>
											<h1  class= 'servename' ng-show = "current_client == 'NONE' && jumpnumber == 0 && !clickedNext">Please click NEXT to call new client</h1>
											<h1  class= 'servename' ng-show = "clickedNext">Please wait...</h1>
											</clientname>
										</div>
										<div ng-show = "buts1" class = "buts">
											<ul class="buttons">
											<li><a ng-click = "jump();">  JUMP <span class="glyphicon glyphicon-share" aria-hidden="true"></span></a></li>
											<li><a ng-click = "next();">NEXT <span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a><li>
											</ul>
										</div>
										<div ng-show = "buts2" class = "buts">
											<ul class="buttons" style="margin-bottom: 0px !important;">
											<li><a ng-click = "call_client();" ng-if = "!called">CALL <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a></li>
											<li><a ng-click = "call_only(counter);" ng-if = "called">CALL <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a></li>
											<!-- <li><a ng-click = "serve_client(jumpnumber);" ng-if = "called"> SERVED <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li> -->
											<li><a ng-click = "serve_clientExtra();" ng-if = "called"> SERVED <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a></li>
											<!-- <li><a ng-click = "skip_client();" ng-if = "called"> SKIP <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></a></li> -->
											</ul>
										</div>
					        </div>
			        	</div>
			        </div>




				<div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header" style="margin: 0px !important;border-bottom: 0px !important;"></h1>
                    </div>
                </div>

				<div class="row">
                    <div class="col-lg-12">

						<ul class="nav nav-tabs nav-justified">
							<li class="active"><a data-toggle="tab" href data-target="#home">PENDING <span class="label label-pill label-danger">{{ pending_count }}</span></a></li>
							<li><a data-toggle="tab" href data-target="#menu2">SKIPPED <span class="badge">{{skipped_count}}</span></a></li>
							<li><a data-toggle="tab" href data-target="#menu1">SERVED <span class="badge">{{ served_count }}</span></a></li>
						</ul>

						<div class="tab-content">
							<div id="home" class="tab-pane fade in active">
							  <h3></h3>
							  <div class="panel panel-primary">
								<div class="panel-heading">
								    <h3 class="panel-title">
								    	<i class="fa fa-list-alt"></i> PENDING CLIENTS
								    	<div class="radios pull-right" ng-init="view.status=''">
											<input id = 'jobview' class="jobstat" type="radio" name = 'job' ng-model="view.status" value="{{ status }}" ng-show="status" ng-hide = "transaction === ''"><label for="jobview" ng-show="status" ng-hide="transaction === ''">{{ transaction }}</label>
											<input id = 'allview' class="jobstat" type="radio" name = 'all' ng-model="view.status" value="" checked><label for="allview">ALL</label>
										</div>
								    </h3>
								</div>
								<div class="panel-body">
										<div class="list-group">
								       		<a href="#" class = 'list-group-item' ng-repeat = "pending_client in pending | filter : view  ">

								                <span class="badge">{{pending_client.TIMEONLY}}</span>

								       			<span class="label label-success" ng-show = "pending_client.preparedbyname != NULL && pending_client.status === '3'">AR IS PREPARED</span>

								                <h1  ><span class="numberque">[ {{ pending_client.numberque }} ] RN:{{ pending_client.quecard }}</span> <span class="client"></span></h1>
								                <!-- </br>CALL BY : {{pending_client.alias}} </br> -->
								                <i class="client_status fa fa-fw {{pending_client.icon}}"></i>
								                {{pending_client.service}}
								               	<div  class="serveby" ng-show = "pending_client.flagname == NULL">AVAILABLE</div>
								                <div class="servebyuser" ng-show = "pending_client.flagname != NULL">Service by {{ pending_client.flagname }}</div>

								            </a>
								    	</div>
									</div>
								</div>
							</div>
							<div id="menu1" class="tab-pane fade">
								<h3></h3>
								<div class="panel panel-primary" >
									<div class="panel-heading">
									    <h3 class="panel-title"><i class="fa fa-check"></i> SERVED CLIENTS </h3>
									</div>
									<div class="panel-body" id="skippedList">
										<div class="list-group">
								       		<a href="#" class="list-group-item" ng-repeat = "served_client in served">
								                <span class="badge" style="color:white !important;">FINISHED : {{served_client.TIMEONLY}}</span>
								                <span class="badge" style="color:white !important;">ARRIVED : {{served_client.ARRIVAL}}</span>
								                <h1><span class="numberque">[ {{served_client.numberque}} ]</span> <span class="client"># {{served_client.quecard}}</span></h1>
								                <i class="client_status fa fa-fw {{served_client.icon}}"></i>
								                {{served_client.service}}
								                <div class="serveby" >Served by {{served_client.agent}}</div>
								            </a>
								    	</div>
									</div>
									<div class="panel-footer clearfix">
									    <a href="#" class="btn btn-default btn-md pull-right" ng-click="printServed();">PRINT THIS LIST</a>
									</div>
								</div>
							</div>
							<div id="menu2" class="tab-pane fade">
								<h3></h3>
								<div class="panel panel-primary">
								<div class="panel-heading">
								    <h3 class="panel-title"><i class="fa fa-share"></i> SKIPPED CLIENTS </h3>
								</div>
								<div class="panel-body">
										<div class="list-group">
								       		<a href="#" class = 'list-group-item' class="list-group-item" ng-repeat = "skipped_client in skipped">
								                <span class="badge"></span>
								                <h1><span class="numberque">[ {{skipped_client.numberque}} ]</span> <span class="client"># {{skipped_client.quecard}}</span></h1>
								                </br> CALL BY : {{skipped_client.alias}} </br>
								                <i class="client_status fa fa-fw {{skipped_client.icon}}"></i>
								                {{skipped_client.service}}
								                <div class="serveby" >Skipped by {{ skipped_client.agent }}</div>
								                <div class="serveby" ng-show = "skipped_client.agent_f == NULL"> AVAILABLE</div>
								                <div class="servebyuser" ng-show = "skipped_client.agent_f != NULL">Service by {{ skipped_client.agent_f }} {{ skipped_client.agent_l }}</div>
								            </a>
								    	</div>
									</div>
								</div>

							</div>

						</div>




					</div>
				</div>

</div>
