
<style>
	body {
	    background-image: url(../../../../images/sysimg/mainmenu/bgtabs.png) !important;
	    background:repeat !important;
	    background-color: #ffffff !important;
	    margin-top: 100px !important;
	}
	@media(min-width:768px) {
	    body {
	        margin-top: 50px !important;
	    }
	}
	.footer {
	    font-size: 11px;
	    color: #666;
	    padding-top: 15px;
	    margin-top: 40px;
	    border-top: 1px solid #ccc;
	    overflow: hidden;
	    clear: both;
	}
	.footer .footer-right {
	    float: right;
	}
	.footer .footer-left {
	    float: left;
	}
	.sub{
		border-bottom: 1px solid #232323 !important;
	}
	.sub_active {
		background-color: #1a1a1a !important;
	}
	.counterinfo{
		padding-left: 15px !important;
	}
</style>
<div id="wrapper" ng-init="initMain();">
		<div loadingScreen id="loading_screen">
			<div class="spinner">
			  <div class="cube1"></div>
			  <div class="cube2"></div>
			</div>
		</div>
		<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                	<div class="navbar-brand-image"></div>
                </a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
               <li ng-show="userlevel < 3" ng-click="showTV();"><a href="#"><span class="fa fa-desktop"></span> QUE </a></li>
               <!--<li ng-show="userlevel < 3" ng-click="showIPAD();"><a href="#"><span class="fa fa-tablet"></span> IPAD INPUT</a></li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li  ng-click="openM('md', 'partials/form_changecounter.html')">
                            <a href="#"><i class="fa fa-fw fa-exchange"></i> CHANGE COUNTER</a>
                        </li>
                        <li  ng-click = "vacateCounter();" >
                            <a href="#"><i class="fa fa-fw fa-user-times"></i> LEAVE COUNTER</a>
                        </li>
                        <li  ng-click = "toggleHead();" class="breaky">
                            <a href="#"><i class="fa fa-fw fa-bell-slash"></i> BREAK TIME</a>
                        </li>
                        <li class="divider"></li>
                        <li ng-click = 'logout();'>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                	<li ng-show="counter === ''" class="nav-header counterinfo">
						<div class="counternum">CURRENT COUNTER :</div>
						<div ng-show="!changedCounter" class="statuscounter">Please set counter</div>
						<div ng-show="changedCounter" class="statuscounter">Please wait..</div>
	                </li>
                	<li ng-show="counter != ''" class="nav-header counterinfo">
	            		<div class="countnum"><span style="font-size:20px !important;">#</span>{{counter}}</div>
						<div class="counternum">CURRENT COUNTER :</div>
						<div class="statuscounter">{{transaction}}</div>
	                </li>
                	<!--<li class="nav-header">NAVIGATION</li>-->
                	<li navdirective ng-repeat = "item in menu track by $index" ng-init="navCollapsed = true" class="sidemenu" ng-class="$first ? 'sidemenu active' : 'sidemenu'">
                        <a ng-show="!item.sub.length" href="#" ng-click="clickpage(item.menu_name); "  ><i class="fa fa-fw {{ item.icon }}"></i> {{item.menu_name}} </a>

                        <a ng-show="item.sub.length" href="#" ng-click="navCollapsed = !navCollapsed;"  ><i class="fa fa-fw {{ item.icon }}"></i> {{item.menu_name}} <i  class="fa fa-fw fa-caret-down"></i></a>
                        <ul ng-show="item.sub.length" collapse="navCollapsed">
                            <li subnavdirective ng-repeat = "subitem in item.sub track by $index" ng-click="clickpage(subitem.menu_name);" class="sub">
                                <a href="#"><i class="fa fa-fw {{ subitem.icon }}"></i> {{subitem.menu_name}}</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
		<div id="page-wrapper">

            <div class="container-fluid" >
            	<div ng-switch on = "page">
            	<div class="animate-switch" ng-switch-when='Frontline' >
            		<frontline></frontline>
            	</div>
            	<div class="animate-switch" ng-switch-when='Backroom'>
            		<backroom></backroom>
            	</div>
            	<div class="animate-switch" ng-switch-when='Report'>
            		<reporitorial></reporitorial>
            	</div>
            	<div class="animate-switch" ng-switch-when='User List'>
            		<userlist></userlist>
            	</div>
            	<div class="animate-switch" ng-switch-when='User Permissions'>
            		<userpermissions></userpermissions>
            	</div>
            	<div class="animate-switch" ng-switch-when='Groups'>
            		<usergroups></usergroups>
            	</div>
            	<div class="animate-switch" ng-switch-default>
			        <frontline></frontline>
			    </div>
            	</div>



            	<div class="footer">
                    <div class="footer-left">
                        <span>© 2016. Queuing System. All Rights Reserved.</span>
                    </div>
                    <div class="footer-right">
                    	<powered>POWERED BY: CST</powered>
    					<div class="logs"></div>
                        <!--<span>Template: <a href="">SB Admin </a></span>-->
                    </div>
                </div>
			</div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

	</div>
