<style>
.select-page {
  width: 50px;
  text-align: center;
}
.pagination li a input {
  padding: 0;
  margin: -5px 0;
}

.modal{
	overflow-y:scroll !important;
}
.modal-open{
	overflow-y:scroll !important;
}
</style>

	<div class="modal-header" >
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel();">×</button>
        <center><div class="title_daily_transaction_S">DAILY TRANSACTIONS</div></center>
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <i class="fa fa-info-circle"></i>  <strong>Note: </strong> To save / print all the generated data, please select <strong>"ALL"</strong>  on the SHOW: option.
        </div>
    </div>
    <!--<div class="prints">
    <div class="report_print_btn" ng-click="exportToExcel('#mytable');"></div>
    <div class="backtomenu"></div>
   	</div>-->
	<div class="modal-body" id="modalbody">
		<div divreport id="report_print_div" >
		<center>
			<table id="mytable" st-table="tableData"  cellspacing="0px" class="table table-striped">
			</thead>
				<tr>
					<td colspan="8">
						<div>SHOW: </div>
		                <select ng-model="selectedItem" ng-change="update()">
		                    <option value="15" ng-selected="true">15</option>
		                    <option value="25">25</option>
		                    <option value="100">100</option>
		                    <option value="all">All</option>
		                </select>
		             </td>
				</tr>
			    <tr  style="cursor:pointer;">
			        <th st-sort="status" class="text-center" st-skip-natural="true">Service Name</th>
			        <th st-sort="firstname" class="text-center" st-skip-natural="true">Client Number/Name</th>
			        <th st-sort="date_of_transaction" class="text-center">Arrival Date/Time</th>
			        <th st-sort="time_called" class="text-center">Time Called</th>
			        <th st-sort="time_served" class="text-center">Time Ended</th>
			        <th class="text-center">Wait Time</th>
			        <th class="text-center">Service Time</th>
			        <th st-sort="agent" class="text-center">Service Agent</th>
			    </tr>
			    <tr>

			        <th>
		                <select ng-init = "getServices();" st-search="status">
		                    <option value="">All</option>
		                    <option ng-repeat = "status in services" value = "{{status.service}}">{{status.service}}</option>
		                </select>
		            </th>
			        <!--<th>
			            <input st-search="status" placeholder="search by status" class="input-sm form-control" type="search"/>
			        </th>-->
			        <th colspan="7">
			            <input st-search placeholder="search by Name or by Agent" class="input-sm form-control" type="search"/>
			        </th>
		        </tr>

			    </thead>
			    <tbody>
				    <tr ng-show="!tableData.length">
				    	<td colspan="7" style="text-align:center;"> NO DATA FOUND </td>
				    </tr>
				    <tr ng-repeat = "client in tableData" class="text-center">
				        <td>{{ client.status }}</td>
				        <!-- <td>{{client.numberque}} {{ client.firstname }} {{client.lastname}}</td> -->
						<td>{{client.quecard}}</td>
				        <td>{{client.date_of_transaction | date:'EEE, dd/MMM/yy, hh:mm:ss a'}}</td>
				        <td>{{client.time_called | date:'hh:mm:ss a'}}</td>
				        <td>{{client.time_served | date:'hh:mm:ss a'}}</td>
				        <td>{{client.waitingtime}}</td>
				        <td>{{client.servingtime}}</td>
				        <td>{{client.agent}}</td>
						<td>{{client.alias}}</td>
				    </tr>
			    </tbody>
			     <tfoot>
				    <tr>
				        <td colspan	="8" class="text-center">
				            <div st-items-by-page="itemsByPage" st-pagination="" st-template="partials/pagination.custom.html">
				            </div>
				        </td>
				    </tr>
			    </tfoot>
			</table>

		</center>
		</div>



		<div id="save" style="display:none; ">
			<table id="mytablehidden" border="1">
				</thead>
			    <tr class="test_h">
			        <th >Service Name</th>
			        <th ># Client Name</th>
			        <th >Arrival Date/Time</th>
			        <th >Time Called</th>
			        <th >Time Ended</th>
			        <th >Wait Time</th>
			        <th >Service Time</th>
			        <th >Service Agent</th>
					<th >Agent Remarks</th>
			    </tr>
			    </thead>
			    <tbody>
			    <tr ng-repeat = "client in tableData" class="test">
			        <td>{{ client.status }}</td>
			        <!-- <td>{{client.numberque}} {{ client.firstname }} {{client.lastname}}</td> -->
					<td>{{client.quecard}}</td>
			        <td>{{client.date_of_transaction | date:'EEE, dd/MMM/yy, hh:mm:ss a'}}</td>
			        <td>{{client.time_called | date:'hh:mm:ss a'}}</td>
			        <td>{{client.time_served | date:'hh:mm:ss a'}}</td>
			        <td>{{client.waitingtime}}</td>
			        <td>{{client.servingtime}}</td>
			        <td>{{client.agent}}</td>
					<td>{{client.alias}}</td>
			    </tr>
			    </tbody>
			</table>
		</div>


      </div>
	<div class="modal-footer">

        <button ng-disabled = "!SAVE_REPORT" class="btn btn-default" type="button" ng-click="exportToExcel('#save');"><span class="glyphicon glyphicon-save"></span> SAVE</button>
    	<button ng-disabled = "!PRINT_REPORT" class="btn btn-default" type="button" ng-click="print('#mytablehidden');"><span class="glyphicon glyphicon-print"></span> PRINT</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">CLOSE</button>
    </div>
